@font-face {
    font-family: 'SF Pro Display';
    src: local('San Francisco Pro Display Regular'), local('San-Francisco-Pro-Display-Regular'),
        url('SFProDisplay-Regular.woff2') format('woff2'),
        url('SFProDisplay-Regular.woff') format('woff'),
        url('SFProDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'SF UI Display';
    src: local('San Francisco(SF UI) Display Regular'), local('San-Francisco(SF-UI)-Display-Regular'),
    url('SFUIDisplay-Regular.woff2') format('woff2'),
    url('SFUIDisplay-Regular.woff') format('woff'),
    url('SFUIDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Muller';
    src: local('Muller Regular'), local('Muller-Regular'),
    url('MullerRegular.woff2') format('woff2'),
    url('MullerRegular.woff') format('woff'),
    url('MullerRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
