<template>
  <div>
    <router-link to="user">user</router-link>
    <PaymentForm />
  </div>
</template>

<script>
import PaymentForm from "../components/PaymentForm";
export default {
  name: "Payment",
  data: () => ({
    sum: 150,
    autoPayments: true,
    cardNumber: '',
    name: '',
    month: '',
    year: '',
    code: '',
    expirationError: false,
    cardNumberError: false,
    nameError: false,
    codeError: false,
    sumError: false,
    autoPaymentText: 'Привяжите карту для быстрого пополнения баланса по SMS, USSD и подключения автоплатежей.'
  }),
  components: {
    PaymentForm
  }
};
</script>
<style>
  a {
    font-family: SF Pro Display;
    font-size: 21px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
</style>
