<template>
  <div class="user">
    <router-link to="payment">payment</router-link>
    <div v-if="user">
      <h3>user # {{ user.number }}</h3>
      <span>Name: {{ user.name }}</span>
      <span>Surname: {{ user.surname }}</span>
      <span>Date: {{ new Date(user.date * 1000).toLocaleDateString() }}</span>
    </div>
    <PaymentForm :userData="user" />
  </div>
</template>

<script>
  import PaymentForm from "../components/PaymentForm";
export default {
  name: "User",
  components: {
    PaymentForm
  },
  computed: {
    user() {
      return this.$store.getters.user;
    }
  },
  mounted() {
    if (!this.user) {
        this.$store.dispatch('fetchUser')
    }
  }
};
</script>

<style lang="less" scoped>
  .user {
    div {
      display: flex;
      flex-direction: column;
      text-align: left;
    }
  }
</style>
