<template>
    <label class="check">{{ label }}
        <input v-model="checked" type="checkbox" checked="checked" @change="change">
        <span class="checkmark"></span>
    </label>
</template>

<script>
    export default {
        name: "CheckboxInput",
        props: {
            label: {
                type: String,
                default: ''
            },
            model: {
                type: Boolean,
                default: false
            }
        },
        data: () => ({
            checked: false
        }),
        methods: {
            change() {
                this.$emit('changed', this.checked)
            }
        },
        mounted() {
            this.checked = this.model
        }
    }
</script>

<style lang="less" scoped>
    /* The container */
    .check {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-top: 15px;
        margin-bottom: 40px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-family: SF UI Display;
        text-align: left;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.5px;
        color: #333333;
    }
    .check input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:focus ~ .checkmark {
            border: 1px solid #03a5ed;
        }
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border: 1px solid #4F4F4F;
        box-sizing: border-box;
        background-color: #eee;
    }
    .check:hover input ~ .checkmark {
        background-color: #ccc;
    }
    .check input:checked ~ .checkmark {
        background: #333333;
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    .check input:checked ~ .checkmark:after {
        display: block;
    }
    .check .checkmark:after {
        left: 6px;
        top: 1px;
        width: 4px;
        height: 9px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
</style>
