<template>
  <div class="loader">
    <img src="../assets/svg/web.svg" alt="" />
  </div>
</template>

<script>
export default {
  name: "Loader"
};
</script>

<style lang="less" scoped>
.loader {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.72);
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 100px;
    width: 100px;
    animation: spin 4s linear infinite;
    opacity: 0.5;
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
</style>
