<template>
    <form ref="form">
        <div class="sum-input">
            <input
                    v-model="sum"
                    :class="{ error: sumError }"
                    class="sum"
                    type="number"
                    placeholder="150"
            />
        </div>
        <div class="payment-cards-wrapper">
            <div class="payment-card">
                <div class="card-header">
          <span class="sum">
            <span>Paying:</span>
            <span>€ {{ sum }}</span>
          </span>
                    <span class="card-label">
            <img src="../assets/svg/visa.svg" alt="" />
          </span>
                </div>
                <div class="card-body">
                    <div class="input">
                        <span class="label">Card Number</span>
                        <input
                                v-model="cardNumber"
                                :class="{ error: cardNumberError }"
                                type="text"
                                placeholder="0000 – 0000 – 0000 – 0000"
                        />
                    </div>
                    <div class="inputs-wrapper">
                        <div class="input">
                            <span class="label">Card Holder</span>
                            <input
                                    v-model.trim="name"
                                    :class="{ error: nameError }"
                                    type="text"
                                    placeholder="Michael Nagarov"
                            />
                        </div>
                        <div class="input date">
                            <span class="label">Expiration date</span>
                            <input
                                    v-model.trim="month"
                                    :class="{ error: expirationError }"
                                    type="text"
                                    placeholder="01"
                            />
                            <input
                                    v-model.trim="year"
                                    :class="{ error: expirationError }"
                                    type="text"
                                    placeholder="24"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="payment-card back">
                <div class="card-body">
                    <div class="input">
                        <span class="label">CVC/CVV</span>
                        <input
                                v-model.trim="code"
                                :class="{ error: codeError }"
                                type="text"
                                placeholder="•••"
                        />
                        <span class="info">Last 3 or 4 digits</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sponsors-wrapper">
            <div class="sponsors">
                <img
                        v-for="(i, img) in 3"
                        :src="require(`@/assets/svg/sponsor-${img + 1}.svg`)"
                        :key="i + 1"
                        alt=""
                />
            </div>
        </div>
        <CheckboxInput
                :label="autoPaymentText"
                :model="autoPayments"
                @changed="changeAutoPayments"
        />
        <div class="payment-submit">
            <div class="payment-info">
                <span class="title">Итого к зачислению</span>
                <span class="sum">€ {{ sum }}</span>
                <span class="commission">Без комиссии</span>
            </div>
            <button :disabled="hasError" class="button" @click.prevent="submit">
                Оплатить
            </button>
        </div>
    </form>
</template>

<script>
    import CheckboxInput from "../components/CheckboxInput";
    export default {
        name: "PaymentForm",
        props: {
          userData: {
              type: Object,
              default: null,
          }
        },
        data: () => ({
            sum: 0,
            autoPayments: true,
            cardNumber: '',
            name: '',
            month: '',
            year: '',
            code: '',
            expirationError: false,
            cardNumberError: false,
            nameError: false,
            codeError: false,
            sumError: false,
            autoPaymentText: 'Привяжите карту для быстрого пополнения баланса по SMS, USSD и подключения автоплатежей.'
        }),
        components: {
            CheckboxInput
        },
        watch: {
            userData: function() {
                this.setPaymentData();
            },
            sum: function() {
                this.checkSum();
            },
            cardNumber: function() {
                if (this.cardNumber.length > 19) {
                    this.cardNumber = this.cardNumber.substring(0, 19);
                }
                const regex = new RegExp("^[0-9 ]+$");

                if (!regex.test(this.cardNumber)) {
                    this.cardNumber = this.cardNumber.substring(
                        0,
                        this.cardNumber.length - 1
                    );
                }
                if (
                    this.cardNumber.length === 4 ||
                    this.cardNumber.length === 9 ||
                    this.cardNumber.length === 14
                ) {
                    this.cardNumber += " ";
                }
                this.checkCardNumber();
            },
            name: function() {
                const regex = new RegExp("^[a-zA-Z ]+$");
                if (this.name.split(" ").length - 1 > 1) {
                    this.name = this.name.substring(0, this.name.length - 1);
                }
                if (!regex.test(this.name)) {
                    this.name = this.name.substring(0, this.name.length - 1);
                }
                this.checkName();
            },
            month: function() {
                if (this.month.length > 2) {
                    this.month = this.month.substring(0, 2);
                }
                if (
                    this.month.length < 2 &&
                    Number(this.month) > 1 &&
                    Number(this.month) < 10
                ) {
                    this.month = "0" + this.month;
                }
                if (Number(this.month) > 12) {
                    this.month = "12";
                }

                const regex = new RegExp("[0-9]+$");
                if (!regex.test(this.month)) {
                    this.month = this.month.substring(0, this.month.length - 1);
                }
                this.checkCardExpiration();
            },
            year: function() {
                if (this.year.length > 2) {
                    this.year = this.year.substring(0, 2);
                }
                const regex = new RegExp("[0-9]+$");
                if (!regex.test(this.year)) {
                    this.year = this.year.substring(0, this.year.length - 1);
                }
                this.checkCardExpiration();
            },
            code: function() {
                if (this.code.length > 3) {
                    this.code = this.code.substring(0, 3);
                }

                const regex = new RegExp("[0-9]+$");
                if (!regex.test(this.code)) {
                    this.code = this.code.substring(0, this.code.length - 1);
                }
                this.checkCode();
            }
        },
        computed: {
            hasError() {
                if (
                    this.expirationError ||
                    this.cardNumberError ||
                    this.nameError ||
                    this.codeError ||
                    this.sumError
                ) {
                    return true;
                } else {
                    return false;
                }
            },
            sumValue() {
                return this.$store.getters.sum;
            }
        },
        methods: {
            changeAutoPayments(value) {
                this.autoPayments = value
            },
            checkSum() {
                if (!this.sum) {
                    this.sumError = true;
                } else {
                    this.sumError = false;
                }
            },
            checkCardNumber() {
                if (!this.cardNumber || this.cardNumber.length < 19) {
                    this.cardNumberError = true;
                } else {
                    this.cardNumberError = false;
                }
            },
            checkName() {
                if (!this.name) {
                    this.nameError = true;
                } else {
                    this.nameError = false;
                }
            },
            checkCode() {
                if (!this.code || this.code.length < 3) {
                    this.codeError = true;
                } else {
                    this.codeError = false;
                }
            },
            checkCardExpiration() {
                const year = String(new Date().getFullYear()).slice(2);
                const month = new Date().getMonth() + 1;
                if (!this.year || !this.month) {
                    this.expirationError = true;
                } else if (Number(this.year) < Number(year)) {
                    this.expirationError = true;
                } else if (
                    Number(this.year) === Number(year) &&
                    Number(this.month) < month
                ) {
                    this.expirationError = true;
                } else {
                    this.expirationError = false;
                }
            },
            submit() {
                this.checkName();
                this.checkSum();
                this.checkCardNumber();
                this.checkCode();
                this.checkCardExpiration();
                if (!this.hasError) {
                    const formData = {
                        sum: this.sum,
                        cardNumber: this.cardNumber,
                        name: this.name,
                        expiration: `${this.month}/${this.year}`,
                        code: this.code,
                        autoPayments: this.autoPayments
                    };
                    this.$store
                        .dispatch("submitPayment", formData)
                        .then(this.$refs.form.reset(), this.resetForm());
                }
            },
            async resetForm() {
                if (this.userData) {
                    this.setPaymentData()
                } else {
                    this.sum = this.sumValue;
                    this.cardNumber = "";
                    this.name = "";
                    this.month = "";
                    this.year = "";
                }
                this.code = "";
                this.autoPayments = true;
                await this.$nextTick()
                this.expirationError = false;
                this.cardNumberError = false;
                this.nameError = false;
                this.codeError = false;
            },
            setPaymentData() {
                this.sum = this.sumValue
                if (this.userData) {
                    this.cardNumber = this.userData.number;
                    this.name = `${this.userData.name} ${this.userData.surname}`;
                    this.month = new Date(this.userData.date * 1000).getMonth() + 1;
                    this.year = String(new Date(this.userData.date * 1000).getFullYear()).slice(2);
                }
            },
        },
        mounted() {
            this.setPaymentData()
        }
    };
</script>

<style lang="less" scoped>
    .sum-input {
        position: relative;
        &:before {
            content: "€";
            display: block;
            position: absolute;
            left: 15px;
            top: 12px;
            z-index: 10;
        }
        input {
            padding-left: 30px;
        }
    }

    input {
        text-transform: uppercase;
        padding: 10px;
        box-sizing: border-box;
        width: 280px;
        height: 40px;
        border: 0;
        background: #f9fcfb;
        box-shadow: inset 0px -1px 0px #d0ecea;
        font-family: SF UI Display;
        font-size: 16px;
        line-height: 21px;
        color: #000;
        &::placeholder {
            color: #aaadac;
            text-transform: none;
        }
        &.sum {
            border: 1px solid #000000;
            display: flex;
            margin-bottom: 20px;
            position: relative;
        }
        &.error {
            box-shadow: inset 0px 0px 8px red;
        }
    }

    .payment-cards-wrapper {
        position: relative;
        height: 360px;
        .payment-card {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;
            width: 500px;
            height: 320px;
            box-sizing: border-box;
            background: linear-gradient(90deg, #06847f 0.01%, #039a71 100.08%);
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
            letter-spacing: 0.5px;
            color: #ffffff;
            font-style: normal;
            font-weight: 300;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &.back {
                left: unset;
                top: unset;
                z-index: 0;
                right: 0;
                bottom: 0;
                background: #4f4f4f;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                padding: 50px 30px;
                input {
                    width: 110px;
                }
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 60px;
                    width: 500px;
                    height: 89.92px;
                    background: #828282;
                }
            }
            .card-header {
                font-family: SF Pro Display;
                font-size: 21px;
                line-height: 28px;
                display: flex;
                justify-content: space-between;
                .sum {
                    span {
                        &:first-child {
                            margin-right: 16px;
                        }
                    }
                }
            }
            .card-body {
                text-align: left;
                font-family: SF UI Display;
                font-size: 16px;
                line-height: 21px;
                .inputs-wrapper {
                    display: flex;
                    justify-content: space-between;
                }
                .input {
                    display: flex;
                    flex-direction: column;
                    margin-top: 20px;
                    .label {
                        margin-bottom: 10px;
                    }
                    .info {
                        font-size: 14px;
                        line-height: 18px;
                        letter-spacing: 0.25px;
                        color: #ffffff;
                        opacity: 0.48;
                        margin-top: 10px;
                    }
                    &.date {
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        width: 120px;
                        position: relative;
                        &:before {
                            content: "/";
                            font-family: SF Pro Display;
                            font-size: 13px;
                            line-height: 18px;
                            position: absolute;
                            right: 50px;
                            width: 20px;
                            height: 40px;
                            top: 31px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        input {
                            width: 50px;
                        }
                    }
                }
            }
        }
    }

    .sponsors-wrapper {
        display: flex;
        justify-content: flex-end;
        .sponsors {
            height: 100px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 500px;
        }
    }

    .payment-submit {
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 30px;
        background: #ffffff;
        box-shadow: 0px 6px 12px rgba(3, 154, 114, 0.24);
        .payment-info {
            display: flex;
            flex-direction: column;
            font-style: normal;
            font-weight: 300;
            text-align: left;
            .title {
                font-family: SF Pro Display;
                font-size: 21px;
                line-height: 28px;
                letter-spacing: 0.5px;
                color: #333333;
                margin-bottom: 10px;
            }
            .sum {
                font-family: Muller;
                font-weight: bold;
                font-size: 36px;
                line-height: 48px;
                letter-spacing: 0.25px;
                text-transform: uppercase;
                color: #4f4f4f;
            }
            .commission {
                font-family: SF UI Display;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.25px;
                color: #333333;
                opacity: 0.64;
            }
        }
    }

    .button {
        width: 295px;
        height: 50px;
        background: linear-gradient(180deg, #219653 3.03%, #219653 97.78%);
        border: 1px solid #219653;
        box-sizing: border-box;
        font-family: SF UI Display;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.5px;
        color: #ffffff;
        &:hover {
            background: linear-gradient(180deg, #219653 3.03%, #1a7642 97.78%);
        }
        &:active {
            background: linear-gradient(180deg, #186e3d 3.03%, #186d3d 97.78%);
        }
        &:disabled {
            background: grey;
            cursor: not-allowed;
        }
    }
</style>
