<template>
  <div id="app">
    <div class="container">
      <transition name="slide-fade" mode="out-in">
        <router-view></router-view>
      </transition>
    </div>
    <Loader v-if="loading" />
  </div>
</template>

<script>
import Loader from "./components/Loader";
export default {
  name: "App",
  components: {
    Loader
  },
  computed: {
    loading() {
      return this.$store.getters.loading;
    }
  }
};
</script>

<style>
@import "assets/animation.css";
@import "assets/fonts/style.css";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
}
.container {
  display: block;
  max-width: 670px;
  margin: auto;
}
</style>
